node_modules
dist
.env
.nyc_output
coverage
.vscode/settings.json
*.db
*.db-journal
keys
*.log
github_credentials.json
gitlab_credentials.json
other_git_repo_list.json


# Dist/Build directories
dist/

# Cache files
tmp/
.eslintcache

# Private secret files
config.json

# Documentation
docs
test.json

# IDE files
.vscode

# Binary builds
bin

# makepkg builds
installer/backuphub*

# Installer files
!installer/*.bat
installer/pkg
installer/src
installer/*.1
config.json
